@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono");

@font-face {
  font-family: Equestria;
  src: url("https://cdn.jsdelivr.net/gh/Andy-K-Sparklight/AlicornSite@main/source/Equestria.ttf");
}

html {
  overflow: scroll;
  width: 100%;
}

html,
body {
  width: 100%;
  user-select: none;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Mono", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
